.DS_Store
.env
.env.local
.env.production
!.env.production.example
node_modules/
dist/
coverage/
.angular/
.dart_tool/
.flutter-plugins*
.idea/
.vscode/
*.iml
*.jks
*.keystore
key.properties
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/ios/Flutter/ephemeral/
apps/mobile/android/.gradle/
work/
